<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include('../layouts/head') %>
  </head>

  <body>
    <%- include('../layouts/header') %>

    <%- body %>

    <%- include('../layouts/footer') %>

    <%- include('../layouts/foot') %>
  </body>
</html>