<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include('../layouts/head') %>
  </head>

  <body>
    <header>
      <!-- <%- include('../layouts/header') %> -->
      <nav>
        <!-- <%- include('../layouts/nav') %> -->
      </nav>
    </header>

    <%- body %>

    <footer>
      <%- include('../layouts/footer') %>
    </footer>

    <%- include('../layouts/foot') %>
  </body>
</html>
