<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('../layouts/head') %>
    <%- include('../layouts/dynamic-css') %>
  </head>
  <body>
    <%- include('../layouts/header') %>

    <%- body %>

    <%- include('../layouts/footer') %>
    <%- include('../layouts/dynamic-js') %>
  </body>
</html>