<main>
  <h2 data-load="index"><%= data.info.header %></h2>
</main>

<section>
  <p><strong><%= sharedData.heading.title %></strong></p>
  <p><%= data.info.description %>&nbsp;<a rel="noreferrer" href="<%= data.info.link.href %>" target="_blank"><%= data.info.link.text %></a></p>
</section>
